body {
    font-family:fantasy;
    background:pink;
}

.header_div {
    background: white;
    color: cyan;
}

.header_div p{
    font-family: cursive;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: monospace;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(226, 175, 33);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: antiquewhite;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}